*{
    margin: 0;
    padding: 0;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    background: black;
    color: #fff;
}
#header{
        width: 100%;
        height: 100vh; 
        background-image: url(images/background.jpg);
        background-size: cover;
        background-position: center;
    }
 .container{
   padding: 10px 10%;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.logo{
    width: 250px;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}
nav ul li a::after{
    content: '';
    width: 0%;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}
nav ul li a:hover::after{
    width: 100%;
}
.header-text{
    margin-top: 20%;
    font-size: 20px;
}
.header-text h1{
    font-size: 60px;
    margin-top: 20px;
}
.header-text h1 span{
    color: #ff004f;
}
.header-text p span{
    color: #ff004f;
}
/* ---------about---------- */
#about{
    padding: 80px 0;
    color: #fff;
}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.about-col-1{
    flex-basis: 35%;
}
.about-col-1 img{
    width: 100%;
    border-radius: 15px;
}
.about-col-2{
    flex-basis: 60%;
}

.sub-title{
    font-size: 60px;
    font-weight: 600;
    color: #fff;
}

.tab-titles{
    display: flex;
    margin: 20px 0 40px;
}

.tab-links{
    margin-right: 50px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    position: relative;
    color: #ff004f;
}
.tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background: #fff;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}

.tab-links.active-link::after{
    width: 50%;
}

.tab-contents ul li{
    list-style: none;
    margin: 10px 0;
}
.tab-contents ul li span{
    color: #fff;
    font-size: 14px;
}
.tab-contents{
    display: none;
}
.tab-contents.active-tab{
    display: block;
}

/* ---------portfolio----------*/
#portfolio{
    padding: 30px 0;
}
.portfolio-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
  
}
.portfolio{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}
.portfolio img{
    width: 100%;
    border-radius: 10px;
    display: block;
}
.portfolio-list div{
    background: #262626;
    padding: 40px;
    font-size: 13px;
    font-weight: 300;
    border-radius: 10px;
    transition: background 0.5s, transform 0.5s;
}
.portfolio-list div h2 span{
    color: #ff004f;
}
.portfolio-list div h2{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
}
.portfolio-list div a{
    text-decoration: none;
    color: #fff;
    font-size: 12px;
    margin-top: 20px;
    display: inline-block;
}
.portfolio-list div a span{
    color: #ff004f;
}
.portfolio-list div:hover{
    background: grey;
    transform: translateY(-10px);
}
.portfolio-list h3 span{
    color: #ff004f;
}
/* ---------css for small screens----------*/
@media only screen and (max-width: 600px){
    #header{
    }
        .header-text{
            margin-top: 100%;
            font-size: 16px;
    }
    .header-text h1{
        font-size: 30px;
    }
    .sub-title{
        font-size: 40px;
    }
    .about-col-1, .about-col-2{
        flex-basis: 100%;
    }
    .about-col-1{
        margin-bottom: 30px;
    }
    .about-col-2{
        font-size: 14px;
    }
    .tab-links{
        font-size: 16px;
        margin-right: 20px;
    }
    .header-text{
    margin-top: 10%;
    font-size: 10px;
    }